body {
    background-color: #f8f9fa;
}

.chat-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-card {
    width: 100%;
    max-width: 600px;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

#messages {
    list-style-type: none;
    overflow-y: auto;
    flex: 1;
    padding: 10px;
    margin-bottom: 20px;
}

.message {
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 20px;
    max-width: 70%;
    word-wrap: break-word;
    display: inline-block;
}

.my-message {
    background-color: #c5eed7;
    align-self: flex-end;
    text-align: left;
}

.other-message {
    background-color: #bbd3e9;
    align-self: flex-start;
    text-align: left;
}

.username {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.green {
    color: rgb(32, 170, 32);
}