<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Sessão de Ensino</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-5">
                <h1 class="mb-4 text-center">Insira as Informações do novo Professor</h1>

                <form method="POST">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="name" name="name"
                            value="{{ request.form.get('name', '') }}" placeholder="Digite o nome" required>
                    </div>

                    <div class="mb-3">
                        <label for="age" class="form-label">Idade</label>
                        <input type="number" class="form-control" id="age" name="age"
                            value="{{ request.form.get('age', '') }}" placeholder="Digite a idade" required>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email"
                            value="{{ request.form.get('email', '') }}" placeholder="Digite o seu email" required>
                    </div>

                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control is-invalid" id="username" name="username"
                            value="{{ request.form.get('username', '') }}" required>

                        {% if error %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="password" name="password"
                            value="{{ request.form.get('password', '') }}" placeholder="Digite a senha" required>
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Criar Professor</button>
                        <a href="/teachers" class="btn btn-secondary">Ver Todos os Professores</a>
                    </div>
                </form>
                <div class="col-md-12 mt-4 text-center">
                    <a href="/" class="btn btn-secondary">Voltar Para o Home Page</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
</body>

</html>