<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Sessão de Ensino</title>
</head>

<body>
    <h1>Insira as Informações do novo Professor</h1>
    <form method="POST">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="age">Age:</label>
        <input type="text" id="age" name="age" required><br><br>

        <button type="submit">Criar Professor</button>
    </form>
    <a href="/teachers">Ver Todos os professores</a>
</body>

</html>